### Ide
.idea

### Git
.git
.gitignore

### Docker
.docker
.dockerignore
docker-compose.yml
docker-compose-dev.yml

###> Symfony ###
/.env.local
/.env.*.local
/.env.local.php
/public/bundles/
/vendor/
###< Symfony ###

### README.md
README.md

### utils
utils